[user]
	email = adhiwena@gmail.com
	name = adhiwena
[safe]
	directory = /home/data/Github/dotfiles
	directory = /home/data/Github/base16-alacritty
	directory = /home/data/Github/base16-kitty
	directory = /home/data/Github/base16-rofi
	directory = /home/data/Github/bebasid
	directory = /home/data/Github/Scripts
	directory = /home/data/Github/Subtitles
	directory = /home/data/Github/polybar-scripts
	directory = /home/data/Github/mpv-settings
	directory = /home/data/Github/MatairSys
