!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Themes LxAppearance Complimentary !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xcursor.theme: Qogir-dark
Xcursor.size: 16

!!!!!!!!!!!!!!!!!!
! URxvt Settings !
!!!!!!!!!!!!!!!!!!

URxvt.termName: rxvt-unicode-256color
! URxvt.font: xft:Inconsolata Nerd Font Mono:pixelSize=12
URxvt.font: xft:MesloLGS Nerd Font Mono:pixelSize=12
! URxvt.font: xft:Iosevka Term:pixelSize=12
! URxvt.font: xft:Iosevka:pixelSize=12
! URxvt.letterSpace: -1

URxvt.internalBorder: 15

URxvt.perl-ext-common: default,matcher,-confirm-paste
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold

! Scroll when output come but not when you go back in to the buffer.
! Scroll back to the end on key press
! (on program stop running and prompt is back it go back to the end too).
URxvt.scrollTtyOutput: 0
URxvt.scrollWithBuffer: 1
URxvt.scrollTtyKeypress: 1
URxvt.saveLines: 50000
URxvt.mouseWheelScrollPage: 0

! URxvt.scrollBar: 1
! URxvt.scrollBar_right: 1
! URxvt.scrollstyle: plain
! URxvt.scrollColor: #FAE3B0
URxvt.scrollBar: 0
URxvt.scrollBar_right: 0

! URxvt.cursorBlink: 1
! URxvt.cursorUnderline: 1
URxvt.urgentOnBell: 1
URxvt.visualBell: 0
URxvt.mapAlert: 0

!!!!!!!!!!!!!!!
! keybindings !
!!!!!!!!!!!!!!!

! disable insert mode
URxvt.iso14755: false
URxvt.iso14755_52: false

! disable ctrl+alt copy-paste
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

! copy-paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! 1-line scrolling
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
! URxvt.keysym.Control-k: command:\033]720;1\007
! URxvt.keysym.Control-j: command:\033]721;1\007

! bypass ctrl + arrows
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! next word
URxvt.keysym.Control-h: \033[1;5D
URxvt.keysym.Control-space: \033[1;5C
! URxvt.keysym.Control-l: \033[1;5C ! conflict with clear

!!!!!!!!!
! theme !
!!!!!!!!!

! #define background_opacity 95
! URxvt.depth: 32

*background: #1E1E2E
*foreground: #D9E0EE

! Gray
*color0: #6E6C7E
*color8: #988BA2

! Red
*color1: #F28FAD
*color9: #F28FAD

! Green
*color2: #ABE9B3
*color10: #ABE9B3

! Yellow
*color3: #FAE3B0
*color11:  #FAE3B0

! Blue
*color4: #96CDFB
*color12: #96CDFB

! Maguve
*color5: #DDB6F2
*color13: #DDB6F2

! Pink
*color6: #F5C2E7
*color14: #F5C2E7

! Whites
*color7: #C3BAC6
*color15: #D9E0EE
