[Desktop Entry]
Name=Subtitle Edit
MimeType=text/x-ssa;
Comment=An advanced subtitle editor and converter
Exec=subtitleedit %F
Icon=subtitleedit
Terminal=false
Type=Application
Categories=Video;AudioVideo;AudioVideoEditing;
